{% extends 'main/base.html' %}

{% block content %}

    <div class="container-fluid p-5">

        <div class="card shadow">

            <div class="card-body">
                <div class="separator-40"></div>
                <h2>
                    Professional Registration
                </h2>

                <form method="post">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn btn-success">

                        Submit Application

                    </button>
                    <a href="javascript:history.back()" class="btn btn-secondary">
                        Cancel
                    </a>

                </form>

            </div>

        </div>

    </div>

{% endblock %}